@use './vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 60px;
  border-bottom: 1px solid var(--very-light-pink);
}
.header div {
  height: 100%;
}
.header ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.header ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 12px;
}
.header ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}
.menu {
  display: none;
}
.logo {
  width: 150px;
}
.navbar-left {
  display: flex;
  font-size: var(--md);
  gap: 28px;
}
.navbar-left ul {
  margin-left: 12px;
  gap: 20px;
}
.navbar-email {
  color: var(--black);
  font-size: var(--sm);
}
.navbar-right {
  display: flex;
  justify-content: center;
}
.navbar-right ul{
  gap: 48px;
}
.navbar-shopping-cart {
  width: 28px;
  height: 28px;
  position: relative;
}
.navbar-shopping-cart img{
  width: 100%;

}
.navbar-shopping-cart div{
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
@media (max-width: 640px) {
  .header {
      padding: 0 28px;
  }
  .menu {
      display: block;
  }
  .navbar-left ul {
      display: none;
  }
  .navbar-email {
      display: none;
  }
}